
#### Aim: To predict whether a customer is going to churn a telco service
##### Steps:
    - Importing and exploring data
    - Data preprocessing
    -

In [70]:
# Import the important Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

## 1. Importing and exploring data

In [71]:
# Load both the train and test
train = pd.read_csv('data_train.csv')
test = pd.read_csv('data_test.csv')

# concatenate the two sets and add and indicator column
#data = pd.concat([ train, test])
data = pd.concat([train.assign(ind="train"), test.assign(ind="test")])
# ind column will help to separate the test and train after cleaining

print(data.shape)
data.head()

(7043, 51)

  Customer ID  Count.x  Gender  ...  Total Revenue Churn Category    ind
0  0650-BWOZN      1.0    Male  ...        3923.45     Competitor  train
1  0562-FGDCR      1.0     NaN  ...          35.90     Competitor  train
2  6688-UZPWD      1.0    Male  ...        2182.45       No Churn  train
3  2905-KFQUV      1.0    Male  ...         705.61     Competitor  train
4  9720-JJJOR      1.0  Female  ...        3075.66       No Churn  train

[5 rows x 51 columns]

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 1408
Data columns (total 51 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Count.x                            5393 non-null   float64
 2   Gender                             5393 non-null   object
 3   Age                                5393 non-null   float64
 4   Under 30                           5393 non-null   object
 5   Senior Citizen                     5393 non-null   object
 6   Married                            5393 non-null   object
 7   Dependents                         5393 non-null   object
 8   Number of Dependents               5393 non-null   float64
 9   Count.y                            4713 non-null   float64
 10  Country                            4703 non-null   object
 11  State                              4704 non-null   object
 12  City                               4708 non-null   object
 13  Zip Code                           4698 non-null   float64
 14  Lat Long                           4709 non-null   object
 15  Latitude                           4717 non-null   float64
 16  Longitude                          4708 non-null   float64
 17  ID                                 4698 non-null   float64
 18  Population                         4698 non-null   float64
 19  Satisfaction Score                 4746 non-null   float64
 20  Count                              4744 non-null   float64
 21  Quarter                            4740 non-null   object
 22  Referred a Friend                  4739 non-null   object
 23  Number of Referrals                4733 non-null   float64
 24  Tenure in Months                   4723 non-null   float64
 25  Offer                              4725 non-null   object
 26  Phone Service                      4730 non-null   object
 27  Avg Monthly Long Distance Charges  4722 non-null   float64
 28  Multiple Lines                     4734 non-null   object
 29  Internet Service                   4728 non-null   object
 30  Internet Type                      4734 non-null   object
 31  Avg Monthly GB Download            4731 non-null   float64
 32  Online Security                    4742 non-null   object
 33  Online Backup                      4727 non-null   object
 34  Device Protection Plan             4755 non-null   object
 35  Premium Tech Support               4733 non-null   object
 36  Streaming TV                       4727 non-null   object
 37  Streaming Movies                   4732 non-null   object
 38  Streaming Music                    4727 non-null   object
 39  Unlimited Data                     4725 non-null   object
 40  Contract                           4732 non-null   object
 41  Paperless Billing                  4750 non-null   object
 42  Payment Method                     4754 non-null   object
 43  Monthly Charge                     4734 non-null   float64
 44  Total Charges                      4732 non-null   float64
 45  Total Refunds                      4739 non-null   float64
 46  Total Extra Data Charges           4739 non-null   float64
 47  Total Long Distance Charges        4724 non-null   float64
 48  Total Revenue                      4744 non-null   float64
 49  Churn Category                     3702 non-null   object
 50  ind                                7043 non-null   object
dtypes: float64(21), object(30)
memory usage: 2.8+ MB

In [73]:
data.dtypes

Customer ID                           object
Count.x                              float64
Gender                                object
Age                                  float64
Under 30                              object
Senior Citizen                        object
Married                               object
Dependents                            object
Number of Dependents                 float64
Count.y                              float64
Country                               object
State                                 object
City                                  object
Zip Code                             float64
Lat Long                              object
Latitude                             float64
Longitude                            float64
ID                                   float64
Population                           float64
Satisfaction Score                   float64
Count                                float64
Quarter                               object
Referred a Friend                     object
Number of Referrals                  float64
Tenure in Months                     float64
Offer                                 object
Phone Service                         object
Avg Monthly Long Distance Charges    float64
Multiple Lines                        object
Internet Service                      object
Internet Type                         object
Avg Monthly GB Download              float64
Online Security                       object
Online Backup                         object
Device Protection Plan                object
Premium Tech Support                  object
Streaming TV                          object
Streaming Movies                      object
Streaming Music                       object
Unlimited Data                        object
Contract                              object
Paperless Billing                     object
Payment Method                        object
Monthly Charge                       float64
Total Charges                        float64
Total Refunds                        float64
Total Extra Data Charges             float64
Total Long Distance Charges          float64
Total Revenue                        float64
Churn Category                        object
ind                                   object
dtype: object

In [74]:
data.describe()

       Count.x          Age  ...  Total Long Distance Charges  Total Revenue
count   5393.0  5393.000000  ...                  4724.000000    4744.000000
mean       1.0    46.747821  ...                   747.372515    3038.374640
std        0.0    16.803802  ...                   844.804363    2854.648396
min        1.0    19.000000  ...                     0.000000      21.360000
25%        1.0    33.000000  ...                    70.635000     622.862500
50%        1.0    46.000000  ...                   399.390000    2114.875000
75%        1.0    60.000000  ...                  1197.000000    4828.390000
max        1.0    80.000000  ...                  3564.000000   11979.340000

[8 rows x 21 columns]

In [75]:
for item in data.columns:
    print(item)
    print (data[item].unique())

Customer ID
['0650-BWOZN' '0562-FGDCR' '6688-UZPWD' ... '7649-PHJVR' '7855-DIWPO'
 '8197-BFWVU']
Count.x
[ 1. nan]
Gender
['Male' nan 'Female']
Age
[37. 54. nan 23. 41. 22. 33. 32. 21. 46. 49. 40. 47. 50. 64. 39. 52. 80.
 27. 65. 28. 63. 74. 57. 73. 77. 34. 72. 79. 58. 24. 29. 20. 66. 75. 25.
 67. 26. 31. 61. 62. 44. 35. 60. 51. 56. 70. 43. 68. 69. 45. 48. 78. 71.
 76. 55. 59. 38. 30. 42. 36. 19. 53.]
Under 30
['No' 'Yes' nan]
Senior Citizen
['No' nan 'Yes']
Married
[nan 'No' 'Yes']
Dependents
['No' 'Yes' nan]
Number of Dependents
[ 0. nan  2.  3.  1.  6.  4.  5.  7.  9.]
Count.y
[nan  1.]
Country
[nan 'United States']
State
[nan 'California']
City
[nan 'Rosamond' 'Huntington Beach' ... 'Coronado' 'Acton' 'Anderson']
Zip Code
[   nan 93560. 92649. ... 96091. 94708. 92532.]
Lat Long
[nan '34.903052, -118.411251' '33.721917, -118.043237' ...
 '37.327069, -121.916819' '34.559882, -115.637164'
 '33.688546, -117.788091']
Latitude
[      nan 34.903052 33.721917 ... 32.68674  37.327069 37.245505]
Longitude
[        nan -118.411251 -118.043237 ... -117.995068 -121.916819
 -121.108568]
ID
[  nan  784.  552. ... 1626. 1039.  506.]
Population
[   nan 14931. 32304. ...  1205. 10737.  4546.]
Satisfaction Score
[ 1. nan  3.  5.  4.  2.]
Count
[ 1. nan]
Quarter
['Q3' nan]
Referred a Friend
['No' 'Yes' nan]
Number of Referrals
[ 0.  4.  8. nan  2.  1.  3. 10.  5.  9.  6.  7. 11.]
Tenure in Months
[35.  1.  7. 68.  2. nan  9. 36. 44. 72.  3. 40. 65. 46. 28. 71. 60. 70.
 22. 29.  6. 33. 30. 21. 55.  4. 57. 20. 16. 50. 48.  5. 43. 61. 17. 67.
 64. 11. 38. 10. 32. 26. 23. 66. 69. 41. 27. 25. 45. 58. 54. 14.  8. 63.
 24. 13. 53. 42. 47. 18. 56. 62. 12. 37. 15. 52. 49. 51. 19. 59. 31. 39.
 34.]
Offer
['None' 'Offer E' 'Offer C' nan 'Offer A' 'Offer B' 'Offer D']
Phone Service
['Yes' nan 'No']
Avg Monthly Long Distance Charges
[  nan  0.   41.02 ... 30.13 21.83  4.47]
Multiple Lines
['No' nan 'Yes']
Internet Service
['Yes' nan 'No']
Internet Type
['Fiber Optic' 'Cable' 'None' nan 'DSL']
Avg Monthly GB Download
[16. 29. nan 71.  0. 27. 17. 57. 24. 19. 52. 14. 12. 28.  5. 23. 26. 11.
 30.  6.  8. 21. 59. 51. 73. 15. 41.  4. 48. 69.  7.  9. 42.  3. 13. 10.
  2. 18. 53. 25. 82. 20. 46. 76. 22. 58. 47. 75. 85. 56.]
Online Security
['No' nan 'Yes']
Online Backup
[nan 'No' 'Yes']
Device Protection Plan
['Yes' 'No' nan]
Premium Tech Support
['No' nan 'Yes']
Streaming TV
['Yes' 'No' nan]
Streaming Movies
[nan 'Yes' 'No']
Streaming Music
['No' 'Yes' nan]
Unlimited Data
['Yes' 'No' nan]
Contract
['One Year' 'Month-to-Month' 'Two Year' nan]
Paperless Billing
['Yes' 'No' nan]
Payment Method
['Bank Withdrawal' nan 'Credit Card' 'Mailed Check']
Monthly Charge
[ 85.15  35.9   20.05 ... 114.95 109.6   41.6 ]
Total Charges
[3030.6    35.9   746.75 ...  304.6  2249.95  533.5 ]
Total Refunds
[ 0.     nan 35.05  4.7  12.48 15.41 46.81 32.24 35.61  3.33 14.15 18.21
 46.06 21.9  35.28 13.03 23.79 10.28 18.64 33.1   9.39 34.44 13.37 41.33
 14.21 27.79 33.43 39.27 29.21 29.17 31.9   9.48 38.42 18.72 37.04 27.38
  3.55 14.23 45.54 27.24 13.01 38.65 19.13 47.73 33.24 15.73 36.92 28.49
 18.39 27.6  43.76  2.18 39.29 14.3  44.9  42.89 19.25 34.29 35.7  25.57
 45.69 45.38 47.36 44.16 10.47 22.96 23.92  1.65 21.25 29.5  23.67 20.29
  3.2   8.3  15.17  5.44  4.73 49.23 14.78 23.72  3.51 48.61 35.44 14.57
  7.39 26.32  3.34 34.16 11.37 21.08 16.36 33.13 36.66 39.68 47.87 19.16
  2.97 38.48 11.45 11.48 19.31 33.67 25.49 20.23 48.23 15.43 38.61  2.29
  6.26  5.15 10.23 40.   22.4   4.25  2.76 48.66  6.49 48.25 19.63 48.79
 49.24 25.84 44.63 44.31 12.19 37.55 33.73  4.08  5.73 46.64 12.66 38.46
 43.96 15.38 29.29 40.95 23.5  45.82 11.83 36.6   5.55 15.62 11.85 16.85
 42.18 48.95 28.93 43.68 24.9  32.55 15.2  16.86 16.96  1.99 14.76 25.67
 30.53 39.15  2.21 34.09 33.21 11.8  22.72 12.81  2.24 39.92 16.12  4.68
 44.17 35.01 46.66 27.3  26.37 24.92 34.69 38.34 30.45 24.07 27.15 29.88
  9.73 43.38 28.63 27.89 38.37  1.09 17.01 24.08 30.22 25.07 16.38 34.59
 31.58  8.74 16.56 15.57 19.32 33.8  21.72 21.6   9.36  8.5  43.31 20.19
 38.33 43.25 16.97 16.91 16.89  5.01  5.9  40.64  1.83 36.38  6.11 39.99
  2.62  1.27 21.71 37.37 19.67 29.76 44.13 40.15 27.09 49.37 12.59 32.53
 26.87 22.55 36.52 45.07 32.09 32.46 18.62 37.49 33.76 19.12 20.87 45.61
  9.22 38.15 24.44 12.07  3.26 18.89 23.39 23.61 29.64 40.79  5.49 41.66
 45.81 17.19 17.16  4.48 20.45 10.2  11.72 25.42 30.14 36.07 21.81 38.84
 25.92 17.14  9.68 16.26 49.79 32.71 47.55 38.98 35.34 21.17  8.88 21.69
 48.09 41.85 33.25 46.78 33.29  1.01 20.17 12.55 33.07 10.76 28.08 14.49
 45.44 37.64 10.65 41.21 22.97 36.13  6.41  1.48 24.98 12.26  3.85 22.34
  2.81  9.79  6.72 36.29 12.8  44.51  9.34 48.26 32.59 46.56 17.3  28.42
  4.18 42.29 49.76 21.32 38.09  9.35 47.2  15.76 18.78  8.96 26.55 41.74
 13.07 29.99 44.53  7.3  37.01 41.2  47.04 41.18]
Total Extra Data Charges
[  0.  10.  nan 100.  80.  90.  50.  60.  20. 150. 130.  30.  40.  70.
 110. 140. 120.]
Total Long Distance Charges
[ 892.85    0.   1435.7  ...  150.88   83.1   458.43]
Total Revenue
[3923.45   35.9  2182.45 ... 1662.08  387.7   640.78]
Churn Category
['Competitor' 'No Churn' nan 'Dissatisfaction' 'Other' 'Attitude' 'Price']
ind
['train' 'test']

## 2.  Data Cleaning and Preprocessing

In [76]:
data.drop(['Customer ID', 'Country', 'State', 'City','Quarter',
           'Zip Code', 'Lat Long','Latitude','Longitude', 'Count','ID','Count.x', 'Count.y', 'Payment Method'], inplace=True, axis=1)

# we also drop county as it has only 1 value
data.shape

(7043, 37)

In [77]:
# checking the missing values and Handling them
# rows with all nan values
dataLess = data.loc[:,'Gender': 'Churn Category'] # remove inserted ind column temporarily
nan_rows = dataLess[dataLess.isnull().all(axis=1)]
nan_rows

     Gender  Age  ... Total Revenue Churn Category
6       NaN  NaN  ...           NaN            NaN
10      NaN  NaN  ...           NaN            NaN
19      NaN  NaN  ...           NaN            NaN
27      NaN  NaN  ...           NaN            NaN
39      NaN  NaN  ...           NaN            NaN
...     ...  ...  ...           ...            ...
1375    NaN  NaN  ...           NaN            NaN
1377    NaN  NaN  ...           NaN            NaN
1395    NaN  NaN  ...           NaN            NaN
1399    NaN  NaN  ...           NaN            NaN
1408    NaN  NaN  ...           NaN            NaN

[880 rows x 36 columns]

In [78]:
# drop rows with all  non nan  values more than 5
data.dropna(axis=0, thresh=5, subset=None, inplace=True)
data.shape

(6162, 37)

In [79]:
#Convert all yes and no to 0's & 1's so our classifier can use this data.

data["Gender"].replace(['Female','Male'],[0,1],inplace=True)
data["Married"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Under 30"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Senior Citizen"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Dependents"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Phone Service"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Paperless Billing"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Churn Category"].replace(['No Churn','Competitor', 
                                'Dissatisfaction', 'Other', 'Attitude' ,'Price'], [0, 1, 2, 3, 4, 5], inplace=True)
data["Streaming Movies"].replace(['No', 'Yes'], [0, 1], inplace=True)

data["Internet Type"].replace(['Fiber Optic', 'Cable', 'None', 'DSL'],[0,1,2, 3],inplace=True)

data["Contract"].replace(['One Year', 'Month-to-Month', 'Two Year'],[0,1,2],inplace=True)

#data = pd.get_dummies(data=data, columns=['Payment Method'])


#data["Payment Method"].replace(['Bank Withdrawal', 'Credit Card', 'Mailed Check'],[ 0, 1, 2], inplace=True)
data["Multiple Lines"].replace(['No','Yes'],[0,1],inplace=True)
data["Online Security"].replace(['No','Yes'],[0,1],inplace=True)
data["Online Backup"].replace(['No','Yes'],[0,1],inplace=True)
data["Device Protection Plan"].replace(['No','Yes'],[0,1],inplace=True)
data["Premium Tech Support"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Streaming TV"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Streaming Music"].replace(['No', 'Yes'], [0, 1], inplace=True)

data["Unlimited Data"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Internet Service"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["Referred a Friend"].replace(['No', 'Yes'], [0, 1], inplace=True)


data["Offer"].replace(['None', 'Offer E', 'Offer C', 'Offer A' ,'Offer B', 'Offer D'],[ 0, 1, 2, 3, 4, 5], inplace=True)

data.head()

   Gender   Age  Under 30  ...  Total Revenue  Churn Category    ind
0     1.0  37.0       0.0  ...        3923.45             1.0  train
1     NaN  54.0       0.0  ...          35.90             1.0  train
2     1.0   NaN       1.0  ...        2182.45             0.0  train
3     1.0  23.0       1.0  ...         705.61             1.0  train
4     0.0  41.0       0.0  ...        3075.66             0.0  train

[5 rows x 37 columns]

In [80]:
# Replace all nan values with predictive values
data.fillna(method='ffill', inplace=True)
data.fillna(method='bfill', inplace=True)
data.tail()

      Gender   Age  Under 30  ...  Total Revenue  Churn Category   ind
1403     0.0  68.0       1.0  ...        1662.08             0.0  test
1404     1.0  49.0       0.0  ...         387.70             0.0  test
1405     0.0  78.0       0.0  ...         387.70             0.0  test
1406     1.0  27.0       1.0  ...         387.70             0.0  test
1407     0.0  38.0       1.0  ...         640.78             0.0  test

[5 rows x 37 columns]

In [81]:

data.isnull().values.any()  # Check whether there contains some nan values

False

In [82]:
# Our data is clean and now we can split back to test and train before Training the model

train_set, test_set = data[data["ind"].eq("train")], data[data["ind"].eq("test")]

X_train = train_set.loc[:,'Gender': 'Total Revenue']
y_train = train_set["Churn Category"]


X_test = test_set.loc[:,'Gender': 'Total Revenue']
y_test = test_set["Churn Category"]

print(X_test.shape)
print(y_train.shape)

(1226, 35)
(4936,)