<a href="https://colab.research.google.com/github/MLearners21/NTU_ML_Final_Project2021/blob/main/MLfinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Import the important Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC  
from scipy.stats import uniform, truncnorm, randint
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [9]:
# Load both the train and test
train = pd.read_csv('data_train.csv')
test = pd.read_csv('data_test.csv')

# concatenate the two sets and add and indicator column
#data = pd.concat([ train, test])
data = pd.concat([train.assign(ind="train"), test.assign(ind="test")])
# ind column will help to separate the test and train after cleaining

print(data.shape)
data.head()

(5635, 36)

   gender  age married  num_depen  ...  t_long_dist  t_revenue  churn    ind
0    Male   78      No          0  ...         0.00      59.65    1.0  train
1  Female   74     Yes          1  ...       390.80    1024.10    1.0  train
2    Male   71      No          3  ...       494.00    2995.07    1.0  train
3  Female   78     Yes          1  ...       494.00    2995.07    2.0  train
4    Male   80     Yes          1  ...       234.21    3102.36    4.0  train

[5 rows x 36 columns]

In [10]:
train.isnull().values.any()

False

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5635 entries, 0 to 1408
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         5635 non-null   object
 1   age            5635 non-null   int64
 2   married        5635 non-null   object
 3   num_depen      5635 non-null   int64
 4   lat            5635 non-null   float64
 5   long           5635 non-null   float64
 6   pop            5635 non-null   int64
 7   score          5635 non-null   int64
 8   num_ref        5635 non-null   int64
 9   mult_line      5635 non-null   object
 10  offer          5635 non-null   object
 11  phon_serv      5635 non-null   object
 12  int_serv       5635 non-null   object
 13  int_type       5635 non-null   object
 14  onl_sec        5635 non-null   object
 15  onl_back       5635 non-null   object
 16  dev_prot       5635 non-null   object
 17  premium        5635 non-null   object
 18  str_tv         5635 non-null   object
 19  str_movie      5635 non-null   object
 20  str_music      5635 non-null   object
 21  contract       5635 non-null   object
 22  paperless      5635 non-null   object
 23  payment        5635 non-null   object
 24  tenure_month   5635 non-null   int64
 25  month_charge   5635 non-null   float64
 26  unlimite       5635 non-null   object
 27  avg_gb         5635 non-null   int64
 28  avg_long_dist  5635 non-null   float64
 29  t_charge       5635 non-null   float64
 30  t_refund       5635 non-null   float64
 31  t_extra        5635 non-null   float64
 32  t_long_dist    5635 non-null   float64
 33  t_revenue      5635 non-null   float64
 34  churn          4226 non-null   float64
 35  ind            5635 non-null   object
dtypes: float64(10), int64(7), object(19)
memory usage: 1.6+ MB

In [12]:
data.dtypes

gender            object
age                int64
married           object
num_depen          int64
lat              float64
long             float64
pop                int64
score              int64
num_ref            int64
mult_line         object
offer             object
phon_serv         object
int_serv          object
int_type          object
onl_sec           object
onl_back          object
dev_prot          object
premium           object
str_tv            object
str_movie         object
str_music         object
contract          object
paperless         object
payment           object
tenure_month       int64
month_charge     float64
unlimite          object
avg_gb             int64
avg_long_dist    float64
t_charge         float64
t_refund         float64
t_extra          float64
t_long_dist      float64
t_revenue        float64
churn            float64
ind               object
dtype: object

In [13]:
data.describe()

               age    num_depen  ...     t_revenue        churn
count  5635.000000  5635.000000  ...   5635.000000  4226.000000
mean     46.806921     0.398048  ...   3022.787764     0.597018
std      15.317200     0.886151  ...   2849.528739     1.229299
min      19.000000     0.000000  ...     21.400000     0.000000
25%      36.000000     0.000000  ...    594.290000     0.000000
50%      47.000000     0.000000  ...   2112.100000     0.000000
75%      57.000000     0.000000  ...   4746.970000     1.000000
max      80.000000     9.000000  ...  11979.340000     5.000000

[8 rows x 17 columns]

In [14]:
for item in data.columns:
    print(item)
    print (data[item].unique())

gender
['Male' 'Female']
age
[78 74 71 80 72 76 65 77 70 68 75 47 69 73 67 79 66 37 24 23 38 29 41 34
 21 64 53 63 32 26 48 39 22 40 30 54 59 49 25 51 33 31 44 50 28 20 57 19
 45 58 27 55 46 61 62 36 43 35 42 60 52 56]
married
['No' 'Yes']
num_depen
[0 1 3 2 5 4 6 9]
lat
[34.02381  34.108833 33.936291 ... 33.801869 33.313828 34.758699]
long
[-118.156582 -118.229715 -118.332639 ... -117.995068 -116.940501
 -120.275839]
pop
[68701 47534 27778 ... 29694  2615  1328]
score
[3 2 1 5 4]
num_ref
[ 0  1  2  3  7  4  6  5 10  9  8]
mult_line
['No' 'Yes']
offer
['None' 'Offer E' 'Offer C' 'Offer D' 'Offer B' 'Offer A']
phon_serv
['No' 'Yes']
int_serv
['Yes' 'No']
int_type
['DSL' 'Fiber Optic' 'None' 'Cable']
onl_sec
['No' 'Yes']
onl_back
['No' 'Yes']
dev_prot
['Yes' 'No']
premium
['No' 'Yes']
str_tv
['No' 'Yes']
str_movie
['Yes' 'No']
str_music
['No' 'Yes']
contract
['Month-to-Month' 'Two Year' 'One Year']
paperless
['Yes' 'No']
payment
['Bank Withdrawal' 'Credit Card' 'Mailed Check']
tenure_month
[ 1  8 10 25 37 27  0 15 24  6  2 69 39  5 20 49 33 46  7  4 35 44 21 12
 17 38  3 16 54 22 13 23 32 57 30 58 29 66 40 31 36 45 47 41 50 43 52  9
 51 72 11 26 68 56 19 65 63 71 70 64 55 60 28 42 67 59 62 61 18 48 74 73
 34 53 14 75]
month_charge
[39.65       80.65       98.5        ... 82.41111111 25.68333333
 53.35      ]
unlimite
['No' 'Yes']
avg_gb
[ 8 17 12 18 30 29  0 26 25 21 14 10 27 13 20 11  7 24  6 19 28 23  9 16
 22  5  4 15  3  2 51 47 41 53 56 71 48 76 59 82 58 42 52 73 85 69 46 57
 75]
avg_long_dist
[ 0.   48.85 19.76 ... 13.14 29.09 11.25]
t_charge
[  39.65  633.3  2514.5  ...  116.85 3320.6    29.95]
t_refund
[  0.    13.43  12.07  40.64  37.55  32.46  20.23  12.59  43.31  46.64
  33.59   8.88  44.31 148.15   5.49  25.67  29.17  29.88  11.83  17.16
  12.19   7.5   45.81  12.48  21.17   6.26  28.93  38.98  27.15  45.82
  20.45  43.66  27.89   6.11  25.07  17.19  33.1   32.71   4.76  44.81
  19.16  31.58  44.17   8.74   4.48  36.6   33.43  48.25  21.69   5.4
  34.29  15.73  19.67  39.27  40.    12.81  65.25   4.     2.05  13.01
   7.39  35.05  48.61  38.48  40.15  48.95  24.44   9.68  20.29  18.21
   9.23  22.96  28.49  35.7   17.01  34.69  35.34  27.3   34.09  18.72
  44.63  38.42   5.8   40.79   2.29  24.08  30.26  15.62  25.84  27.09
  10.23   3.2   21.6   17.14  32.09  14.21  38.15   8.3   12.55  11.48
  43.38  49.37  38.61  43.25  45.07  44.9   23.61  38.84  37.37  11.72
  29.76   1.99  45.61  18.84  24.4    9.73  47.87  39.99  14.76   2.24
  42.89  16.12  38.37  47.36  33.76  38.46  46.66  35.61  18.89  23.72
  23.92  20.9    7.9   56.85  34.44  25.57  14.93  16.85  32.55   5.44
  27.79  43.68  41.74   3.26  10.47   1.31  11.37  14.23  19.63  39.92
  22.55   3.34  38.33  24.92  30.22  36.38  29.21  33.67   9.15  18.62
   9.39   5.9    5.01   4.7   27.6   35.28  37.28  16.38  36.66  29.64
  26.32  16.26  38.34  33.29  12.5   48.7    6.05  99.8   34.5   24.9
  15.38   5.15  41.66  46.06  33.13  12.66  48.79  49.79  47.45  13.37
   2.81  20.55  13.8    2.75   2.76   1.79  11.8   15.76   2.97  45.54
  14.15  32.53  21.25  39.68  23.39  27.    12.96   3.51   4.08  16.91
  43.12  33.24  28.63  36.92  26.37  21.9    4.25  47.73  10.28  14.78
  37.04  49.24  39.15  16.27   5.83  35.44  29.29  24.07  20.3    6.49
  47.55  37.49   1.65  31.9   15.17  14.3   22.72  15.43  34.58   5.73
  36.07  23.79  22.4   16.89  16.56  41.33  30.45  24.99  30.53  32.24
   4.68   2.21  19.32  25.92  25.42  43.96  38.65  19.12  20.19  19.31
  48.23  27.24  11.05   8.13  44.58  47.43  21.52  36.4   41.23  24.36
  36.78  23.89  26.02   8.35  37.06  14.67  47.91  46.07  28.55 103.3
  32.52   2.28  44.    37.68  29.41  22.53  36.22   3.59  34.83  36.02
  47.59  45.6   45.46   4.96  49.51  39.45  46.39  48.09  47.2   33.25
   0.9   37.64  41.2   29.99  47.04   1.69   7.43  38.09  24.98  33.07
  45.44  33.21  45.37  10.17  36.44  48.26  41.85 149.    41.18   1.48
  10.76  41.21  36.29  46.78  14.49  46.56  26.55  18.39   9.34   1.01
  21.32  12.8   23.01   3.7   85.4   67.2   13.07  22.34  46.81  17.05
  17.3   76.7   17.03  10.65  42.29  20.17  32.59   6.72  28.08  93.75
   6.41  28.42  44.53  15.31  22.97   3.85  36.13  44.51  49.76   9.79
   8.96   9.35  18.78  23.47  37.01  12.26  29.93   7.3    4.18  40.41
  28.35  30.46  20.28   4.6   17.6   26.83  25.62  44.42  42.34  49.06]
t_extra
[ 20.     0.    10.    80.   120.    30.   100.    40.   150.    50.
 130.    90.    60.   110.    70.   140.     1.3   11.6   42.75  37.35
 120.35 108.95  51.2 ]
t_long_dist
[  0.   390.8  494.   ... 174.54 546.81  11.25]
t_revenue
[  59.65 1024.1  2995.07 ... 3867.41   29.95   31.45]
churn
[ 1.  2.  4.  5.  3.  0. nan]
ind
['train' 'test']

In [15]:
#Convert all yes and no to 0's & 1's so our classifier can use this data.

data["gender"].replace(['Female','Male'],[0,1],inplace=True)
data["married"].replace(['No', 'Yes'], [0, 1], inplace=True)


data["phon_serv"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["paperless"].replace(['No', 'Yes'], [0, 1], inplace=True)

data["str_movie"].replace(['No', 'Yes'], [0, 1], inplace=True)

data["int_type"].replace(['Fiber Optic', 'Cable', 'None', 'DSL'],[0,1,2, 3],inplace=True)

data["contract"].replace(['One Year', 'Month-to-Month', 'Two Year'],[0,1,2],inplace=True)

#data = pd.get_dummies(data=data, columns=['Payment Method'])


data["payment"].replace(['Bank Withdrawal', 'Credit Card', 'Mailed Check'],[ 0, 1, 2], inplace=True)
data["mult_line"].replace(['No','Yes'],[0,1],inplace=True)
data["onl_sec"].replace(['No','Yes'],[0,1],inplace=True)
data["onl_back"].replace(['No','Yes'],[0,1],inplace=True)
data["dev_prot"].replace(['No','Yes'],[0,1],inplace=True)
data["premium"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["str_tv"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["str_music"].replace(['No', 'Yes'], [0, 1], inplace=True)

data["unlimite"].replace(['No', 'Yes'], [0, 1], inplace=True)
data["int_serv"].replace(['No', 'Yes'], [0, 1], inplace=True)
#data["Referred a Friend"].replace(['No', 'Yes'], [0, 1], inplace=True)


data["offer"].replace(['None', 'Offer E', 'Offer C', 'Offer A' ,'Offer B', 'Offer D'],[ 0, 1, 2, 3, 4, 5], inplace=True)

data.head()

   gender  age  married  num_depen  ...  t_long_dist  t_revenue  churn    ind
0       1   78        0          0  ...         0.00      59.65    1.0  train
1       0   74        1          1  ...       390.80    1024.10    1.0  train
2       1   71        0          3  ...       494.00    2995.07    1.0  train
3       0   78        1          1  ...       494.00    2995.07    2.0  train
4       1   80        1          1  ...       234.21    3102.36    4.0  train

[5 rows x 36 columns]

In [16]:
# Our data is clean and now we can split back to test and train before Training the model

train_set, test_set = data[data["ind"].eq("train")], data[data["ind"].eq("test")]

X_train = train_set.loc[:,'gender': 't_revenue']
y_train = train_set["churn"]


X_test = test_set.loc[:,'gender': 't_revenue']
# y_test = test_set["churn"]

print(X_test.shape)
print(y_train.shape)

(1409, 34)
(4226,)

In [17]:
allData = pd.read_csv("data_all.csv")

customerId = allData.loc[allData['is_test'] == True]
testId = customerId['id'] 
#print(testId)

In [18]:
'''
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.02, random_state = 42)'''

'\nfrom sklearn.model_selection import train_test_split\nX_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.02, random_state = 42)'

In [12]:
#n_estimators = [10,30, 40, 80, 50,100, 150] # number of trees in the random forest
n_estimators =randint(4,200)
max_features = ['auto', 'sqrt'] # number of features in consideration at every split
max_depth = [int(x) for x in np.linspace(10, 120, num = 12)] # maximum number of levels allowed in each decision tree
min_samples_split = [5, 10, 15, 20, 30] # minimum sample number to split a node
min_samples_leaf = [1, 3, 4, 5, 6, 10] # minimum sample number that can be stored in a leaf node
bootstrap = [True, False] # method used to sample data points

random_grid = {'n_estimators': n_estimators,

'max_features': max_features,

'max_depth': max_depth,

'min_samples_split': min_samples_split,

'min_samples_leaf': min_samples_leaf,

'bootstrap': bootstrap}

In [13]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [14]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
               n_iter = 10, cv = 100, verbose=2, random_state=35, n_jobs = -1)

In [15]:
rf_random.fit(X_train, y_train)

Fitting 100 folds for each of 10 candidates, totalling 1000 fits

RandomizedSearchCV(cv=100, estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      120],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 3, 4, 5, 6, 10],
                                        'min_samples_split': [5, 10, 15, 20,
                                                              30],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f152b2f16d0>},
                   random_state=35, verbose=2)

In [16]:
print ('Random grid: ', random_grid, '\n')
# print the best parameters
print ('Best Parameters: ', rf_random.best_params_, ' \n')

Random grid:  {'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f152b2f16d0>, 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120], 'min_samples_split': [5, 10, 15, 20, 30], 'min_samples_leaf': [1, 3, 4, 5, 6, 10], 'bootstrap': [True, False]}

Best Parameters:  {'bootstrap': False, 'max_depth': 110, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 15, 'n_estimators': 166}

In [17]:
# Use the best parameters
randmf = RandomForestClassifier(n_estimators = 150, min_samples_split = 26, min_samples_leaf= 1, max_features = 'sqrt', max_depth= 80, bootstrap=True) 
randmf.fit( X_train, y_train)

RandomForestClassifier(max_depth=80, max_features='sqrt', min_samples_split=26,
                       n_estimators=150)

In [18]:
y_pred_rf1 = pd.DataFrame( {
"predicted": randmf.predict( 
( X_test ) ) } ) 
y_pred_rf1

# np.savetxt('RFtry1.csv', y_pred_rf1,header="TestIds, actual, predicted", delimiter=",",fmt='%i' )

submission = pd.DataFrame({"Customer ID": testId, "Churn Category":randmf.predict(X_test)})
submission.to_csv('submissionRF.csv', index=False)

In [19]:
'''
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred_rf1)

#accuracy=accuracy_score(test_survived['Survived'],predictions)
print(accuracy)'''

"\nfrom sklearn.metrics import accuracy_score\naccuracy = accuracy_score(y_test,y_pred_rf1)\n\n#accuracy=accuracy_score(test_survived['Survived'],predictions)\nprint(accuracy)"

In [20]:
# View confusion matrix for test data and predictions
#confusion_matrix(y_test, y_pred_rf1)

In [21]:
# View the classification report for test data and predictions
#print(classification_report(y_test, y_pred_rf1))

In [22]:
kernels = ['Polynomial', 'RBF', 'Sigmoid','Linear']#A function which returns the corresponding SVC model
def getClassifier(ktype):
    if ktype == 0:
        # Polynomial kernal
        return SVC(kernel='poly', degree=8, gamma="auto")
    elif ktype == 1:
        # Radial Basis Function kernal
        return SVC(kernel='rbf', gamma="auto")
    elif ktype == 2:
        # Sigmoid kernal
        return SVC(kernel='sigmoid', gamma="auto")
    elif ktype == 3:
        # Linear kernal
        return SVC(kernel='linear', gamma="auto")

In [23]:
for i in range(4):
    # Separate data into test and training sets
    X_train, X_test, y_train #, y_test = train_test_split(X, y, test_size = 0.20)# Train a SVC model using different kernal
    svclassifier = getClassifier(i) 
    svclassifier.fit(X_train, y_train)# Make prediction
    y_pred = svclassifier.predict(X_test)# Evaluate our model
    print("Evaluation:", kernels[i], "kernel")
    #print(classification_report(y_test,y_pred))

Evaluation: Polynomial kernel
Evaluation: RBF kernel
Evaluation: Sigmoid kernel
Evaluation: Linear kernel

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [23]:
param_grid = {'C': [0.001, 0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001,0.0001],'kernel': ['rbf', 'poly', 'sigmoid']}

In [ ]:
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=2)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 75 candidates, totalling 375 fits
[CV] END .......................C=0.001, gamma=1, kernel=rbf; total time=   0.5s
[CV] END .......................C=0.001, gamma=1, kernel=rbf; total time=   0.5s
[CV] END .......................C=0.001, gamma=1, kernel=rbf; total time=   0.5s
[CV] END .......................C=0.001, gamma=1, kernel=rbf; total time=   0.5s
[CV] END .......................C=0.001, gamma=1, kernel=rbf; total time=   0.5s

In [ ]:
print(grid.best_estimator_)

In [ ]:
grid_predictions = grid.predict(X_test)

submission = pd.DataFrame({"Customer ID": testId, "Churn Category":randmf.predict(X_test)})
submission.to_csv('submissionSVM.CSV', index=False)
print(grid_predictions)
#print(classification_report(y_test,grid_predictions))